<div class="container">
  <h1>Adicionar novo usuário</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="salvarUsuario()" #usuarioForm="ngForm">

        <div class="form-group">
          <label for="name">ID</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.id" name="id" required>
        </div>

        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.nome" name="nome" required>
        </div>

        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.email" name="author" required>
        </div>

        <div class="form-group">
          <label for="name">Login</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.login" name="login" required>
        </div>

        <div class="form-group">
          <label for="name">Senha</label>
          <input type="password" class="form-control" [(ngModel)]="usuario.senha" name="senha" required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!usuarioForm.form.valid">Salvar</button>

           <button class="btn btn-secondary" routerLink="/">Voltar </button>

        </div>
      </form>
    </div>
  </div>
</div>
